<h3>Update Customer</h3>

<div>
    <form (ngSubmit)="onUpdateCustomerSubmit(customer)">
        <div>
            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" name="firstName"
                [(ngModel)]="customer.firstName"/>
        </div>

        <div>
            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" name="lastName"
                [(ngModel)]="customer.lastName"/>
        </div>

        <div>
            <label for="email">Email : </label>
            <input type="text" id="email" name="email"
                [(ngModel)]="customer.email"/>
        </div>

        <div>
            <label for="address">Address: </label>
            <input type="text" id="addres" name="address"
                [(ngModel)]="customer.address"/>
        </div>
        <div>
            <button type="submit"> Update </button>
            <button class="back" routerLink="/cus-all-page">Back</button>
        </div>
    </form>
</div>