<h3>Create New Customer</h3>

<div>
    <form (ngSubmit)="onSubmitNewCustomer">
        <div>
            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" name="firstName"
                [(ngModel)]="firstName"/>
        </div>

        <div>
            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" name="lastName"
                [(ngModel)]="lastName"/>
        </div>

        <div>
            <label for="email">Email : </label>
            <input type="text" id="email" name="email" [(ngModel)]="email"/>
        </div>

        <div>
            <label for="address">Address: </label>
            <input type="text" id="addres" name="address"
                [(ngModel)]="address"/>
        </div>

        <button type="submit"> Create</button>

    </form>
</div>
