<h3>Update Account</h3>

<div>
    <form (ngSubmit)="onUpdateAccountSubmit(account)">
        <div>
            <label>Account ID: {{ account.id }}</label>
            <br>
            <label>Account Number: {{ account.accountNumber }}</label>
        </div>

        <div>
            <label for="accountName">Account Name: {{ account.accountName }}</label>
            <br>
            <input type="text" id="accountName" name="accountName"
                placeholder="Rename: {{
                account.accountName }}" [(ngModel)]="account.accountName"/>
        </div>

        <div>
            <label for="balance">Balance: {{ account.balance }} </label>
        </div>

        <div>
            <label for="type">Type: {{ account.accountType }}</label>
        </div>

        <div>
            <button type="submit"> Update</button>
            <button class="back" routerLink="/account/{{ curUserId }}">Back</button>
        </div>

    </form>
</div>