<div>
    <form #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)">

        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName"
                [(ngModel)]="user.firstName"/>
        </div>

        <div>
            <label for="lastName">LastName:</label>
            <input type="text" id="lastName" name="lastName"
                [(ngModel)]="user.lastName"/>
        </div>

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"
                [(ngModel)]="user.username"/>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"
                [(ngModel)]="user.email"/>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="passwordHash"
                [(ngModel)]="user.passwordHash"/>
        </div>
        <div>
            <label for="password">Confirm Password:</label>
            <input type="password" id="cpassword" name="cpasswordHash"
                [(ngModel)]="user.passwordHash"/>
        </div>



        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
</div>
