<h3>Create New Account</h3>

<div>
    <form [formGroup]="addForm" (ngSubmit)="onNewAccountSubmit()">

        <div>
            <label for="accountNumber">Account Number: Will be created when
                click on create button</label>
            <input type="hidden" id="accountNumber" name="accountNumber"
                formControlName="accountNumber"/>
        </div>

        <div>
            <input type="hidden" id="id" name="id" formControlName="id"/>
        </div>


        <div>
            <label for="name">Account Name: </label>
            <input type="text" id="name" name="name" formControlName="name"/>
        </div>


        <div>
            <button type="submit"> Create</button>
            <button class="back" routerLink="/acc-all-page">Back</button>
        </div>

    </form>
</div>
